<div class="files-table-wrapper">
  <div class="actions">
    <span class="select-all">
      <input
        type="checkbox"
        checked={{this.toggleAllChecked}}
        indeterminate={{this.toggleAllIndeterminate}}
        {{on "change" this.toggleAll}}
        aria-label="Select all files for download"
      />
    </span>
    <span class="selected-status">{{this.selectedText}}</span>
    <button
      type="button"
      class="btn-download"
      {{on "click" this.downloadSelected}}
      disabled={{this.noFilesSelected}}
    >⇓ Download Selected</button>
  </div>

  <table class="files-table">
    <thead>
      <tr>
        <th> </th>
        <th>Name</th>
        <th>Device</th>
        <th>Path</th>
        <th> </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.files as |file|}}
        <FilesTableRow
          @file={{file}}
          @onToggleSelection={{this.toggleSelection}}
        />
      {{/each}}
    </tbody>
  </table>
</div>

{{#if this.showDownloadModal}}
  <ModalDialog
    @onClose={{this.hideDownloadModal}}
    @onClickOverlay={{this.hideDownloadModal}}
    @translucentOverlay={{true}}
  >
    {{#if this.noFilesSelected}}
      <h3>No files selected</h3>
    {{else}}
      {{#if this.hasAvailableFiles}}
        <h3>Downloading</h3>
        <DownloadsTable @files={{this.availableFiles}} />
      {{/if}}

      {{#if this.hasScheduledFiles}}
        <h3>Scheduled</h3>
        <DownloadsTable @files={{this.scheduledFiles}} />
      {{/if}}
    {{/if}}

    <button {{on "click" this.hideDownloadModal}} type="button">Close</button>
  </ModalDialog>
{{/if}}